*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-center{
    width: 85%;
    margin: 0 auto;
}
.hmenu{
    list-style: none;
    border-bottom: 2px solid #cccccc;
}
.hmenu>li{
    display: inline-block;
    position: relative;
}
.hmenu>li>a{
    text-decoration: none;
    font-size: 12pt;
    display: block;
    color: #911212;
    padding: 10px;
    text-shadow: 0 0 0px #666666;

}
.hmenu>li>a:hover{
    color: #999999;
    border-bottom: 2px solid #999999;
}
.hmenu>li:hover{
    border-bottom: 1px solid royalblue;
}
.hmenu>li:hover .smenu{
    display: block;
}
.smenu{
    display: none;
    position: absolute;
    top: 43px;
    left: 0;
    list-style: none;
    width: 180px;
    background-color:white;

}
.smenu>li{
    
    padding: 5px;
    z-index: 100px;
}
.smenu>li>a{
    text-decoration: none;
    color: rgb(111, 8, 8);
    padding: 10px;
    font-size: 14px;
    display: block;
}
.smenu>li>a:hover{
    columns: #333333;;
    text-shadow: 0 0 1px #333333;
    color: #333333;
}
.smenu>li:hover{
    background-color: #dfd9d9;
}
.box{
    margin-left: 100px;
    margin-top: 30px;
    width: 85% ;
    float: left;
    min-height: 100px;
    background-color:rgb(255, 255, 255);
    font-family: 'Roboto Condensed';
}
.box img{
    width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.box a{
    margin-left: 20px;
    font-size: 20pt;
    text-decoration: 300px;
    color: #333;
    text-decoration: none;
    font-family: 'Roboto Condensed';
}
.blog{
    position: absolute;
    margin-top: 0px;
    margin-left: 420px;
    background-color: rgb(118, 118, 118);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 9px;
    line-height: 19px;
    padding: 0 8px;
    border-radius: 3px 3px;
}
.blog:hover{
    background-color: rgb(46, 45, 45);
}
.tieudiem{
    position: absolute;
    margin-top: 0px;
    margin-left: 490px;
    background-color: rgb(118, 118, 118);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 9px;
    line-height: 19px;
    padding: 0 8px;
    border-radius: 3px 3px;
}
.tieudiem:hover{
    background-color: rgb(46, 45, 45);
}
.box span{
    margin-left: 20px;
    font-size: 10pt;
    text-decoration: 300px;
    color: #333;
    text-decoration: none;
    font-family: 'Roboto Condensed';
}
.box hr{
    width: 70%;
    float: right;
}
footer{
    width: 100%;
    border-top: 1px solid gray;
    background-color: rgb(241, 243, 243);
    clear: both;
}
footer>span{
    line-height: 20px;
    margin-left: 100px;
    color: #666666;
    font-family: 'Roboto Condensed';
    font-size: 14px;

}